<h1>Artists table manager</h1>
<hr>

<%= form_for @artist do |f| %>
	<%= f.label :artist_name %>
	<br>
	<%= f.text_field :artist_name, :required => true %>
	<br>
	<%= f.label :artist_type %>
	<br>
	<%= f.select :artist_type, ['music', 'arts', 'photography'] %>
	<br>
	<%= f.label :coverart_url %>
	<br>
	<%= f.text_field :coverart_url, :required => true %>
	<br>
	<%= f.label :content_url %>
	<br>
	<%= f.text_field :content_url, :required => true %>
	<br>
	<br>
	<%= f.label :bio %>
	<br>
	<%= f.text_area :bio %>
	<br>
	<br>
	<br>

	<%= f.submit %>
<% end %>