<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Username %>
    <%= form.text_field :Username, id: :user_Username %>
  </div>

  <div class="field">
    <%= form.label :Password %>
    <%= form.text_field :Password, id: :user_Password %>
  </div>

  <div class="field">
    <%= form.label :E_Mail %>
    <%= form.text_field :E_Mail, id: :user_E_Mail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
